microservices/lang/python/microservices/src/nms/base
techlab/microservices/lang/python/fastapi/src/simple/__pycache__
techlab/microservices/lang/python/fastapi/src/simple/.idea
techlab/microservices/lang/python/fastapi/src/simple/venv
venv
.idea
/techlab/microservices/lang/python/fastapi/src/simple/.idea